.contenedor {
  position: relative;
}

.row {
  margin-right: 0px;
  margin-left: -15px;
}

.imagen-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen-centrada {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%)!important;
  max-width: 45%;
  max-height: 45%;
}

.d-block {
display: block!important;
}