#root {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 60vh;
}

.on-top {
  z-index: 800;
}

