#root {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 70vh;
}

.border-bottomer{
  border-bottom: white 1px solid;
}

.border-toper{
  border-top: white 1px solid ;
}

.bottom-fixed{
  position: fixed;
  bottom: 0;
  width: 100vw
  ;
}
